<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeerReview</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="index.html">Peer<span>Review</span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Navigation bar-->

    <!--Banner-->
    <div class="container" style="padding-top:100px;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="browse.html">Browse All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addModule.html">Add Module</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="myModules.html">My Modules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account.html">Account Preferences</a>
            </li>
            <div id='searchBar' style='margin-left: 65vw;'>
                <input type='text'>
                <a href='browse.html'>Search</a>
            </div>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>
    <!--/ Banner-->
    <!--Content-->
        <div id='myModulesContainer'>
            <div id='modulesList'>
                <div id='moduleListHeader'>
                    <div id='moduleId'>
                        <p>ID</p>
                    </div>
                    <div id='moduleTitle'>
                        <p>Title</p>
                    </div>
                    <div id='moduleCategory'>
                        <p>Category</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>Version</p>
                    </div>
                    <div id='moduleDate'>
                        <p>Creation Date</p>
                    </div>
                    <div id='moduleOptions'>
                        <p>Options</p>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>1</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Code Inspection Exercise</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Reviews</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.0</p>
                    </div>
                    <div id='moduleDate'>
                        <p>02-26-2017</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='darkModule'>
                    <div id='moduleId'>
                        <p>2</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>CS 490/790</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Computer Science</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>3.3</p>
                    </div>
                    <div id='moduleDate'>
                        <p>11-08-2011</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>3</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Data Security</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>2.1</p>
                    </div>
                    <div id='moduleDate'>
                        <p>09-18-2013</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='darkModule'>
                    <div id='moduleId'>
                        <p>4</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Demo Module</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>PeerReview</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.1</p>
                    </div>
                    <div id='moduleDate'>
                        <p>02-11-2010</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>5</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Fraud</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Business</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.6</p>
                    </div>
                    <div id='moduleDate'>
                        <p>04-02-2016</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='darkModule'>
                    <div id='moduleId'>
                        <p>6</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Incident Response</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software Engineering</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.1</p>
                    </div>
                    <div id='moduleDate'>
                        <p>04-23-2015</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>7</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>IS Audit</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>2.1</p>
                    </div>
                    <div id='moduleDate'>
                        <p>08-21-2012</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='darkModule'>
                    <div id='moduleId'>
                        <p>8</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>IT Governance</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software, Law</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.8</p>
                    </div>
                    <div id='moduleDate'>
                        <p>09-10-2015</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>9</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Java</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>3.4</p>
                    </div>
                    <div id='moduleDate'>
                        <p>11-02-2011</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='darkModule'>
                    <div id='moduleId'>
                        <p>10</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Python</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Software</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>2.5</p>
                    </div>
                    <div id='moduleDate'>
                        <p>03-12-2016</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
                <div id='module' class='lightModule'>
                    <div id='moduleId'>
                        <p>11</p>
                    </div>
                    <div id='moduleTitle'>
                        <a href='viewModule.html'>Risk Management</a>
                    </div>
                    <div id='moduleCategory'>
                        <p>Business</p>
                    </div>
                    <div id='moduleVersion'>
                        <p>1.1</p>
                    </div>
                    <div id='moduleDate'>
                        <p>02-17-2020</p>
                    </div>
                    <div id='moduleOptions'>
                        <a href='addModule.html'>Edit</a>
                        <a>Delete</a>
                    </div>
                </div>
            </div>
        </div>
    <!--/ Content-->
    <script src="https://kit.fontawesome.com/980c80b05d.js" crossorigin="anonymous"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>

</body>

</html>