<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PeerReview</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="index.html">Peer<span>Review</span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="signin.html">Sign in</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Navigation bar-->
    <!--Banner-->
    <div class="container" style="padding-top:100px;">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="browse.html">Browse All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search.html">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addModule.html">Add Module</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="myModules.html">My Modules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="account.html">Account Preferences</a>
            </li>
        </ul>
    </div>
    <!--/ Banner-->

    <div class="view-module">

        <div class="view-module-head">
            <div class="view-module-head-inner">
                <p>Viewing Module</p>
                <h1>Code Inspection Exercise</h1>
            </div>
            <div class="view-module-head-grow"></div>
            <div class="view-module-head-rating">
                <span>☆</span><span>☆</span><span>★</span><span>★</span><span>★</span>
            </div>
        </div>

        <div class="view-module-general">
            <div class="view-module-general-row">
                <div class="view-module-general-column">
                    <p>Authors</p>
                </div>
                <div class="view-module-general-column">
                    <p>John Noll</p>
                </div>
            </div>
            <div class="view-module-general-row">
                <div class="view-module-general-column">
                    <p>Categories</p>
                </div>
                <div class="view-module-general-column">
                    <p>Reviews</p>
                </div>
            </div>
            <div class="view-module-general-row">
                <div class="view-module-general-column">
                    <p>Topics</p>
                </div>
                <div class="view-module-general-column">
                    <p>Formal Inspections</p>
                </div>
            </div>
            <div class="view-module-general-row">
                <div class="view-module-general-column">
                    <p>Version</p>
                </div>
                <div class="view-module-general-column">
                    <p>Version 1, submitted by hislop on 2/26...</p>
                </div>
            </div>
        </div>

        <div class="view-module-body">
            <div class="view-module-abstract">
                <h2>Abstract</h2>
                <p>This module contains an exercise in formal inspection of code. Students are requested to conduct individual inspections of the code using a checklist. Each student files a report of results of the individual inspections in preparation for a formal inspection conducted as an in-class exercise.</p>
            </div>
            <div class="view-module-materials">
                <div class="view-module-material-head">
                    <h2>Materials</h2>
                    <a href="#">⇓&nbsp;&nbsp;Download</a>
                </div>
                <ol>
                    <li>1. Instructions to students (HTM)</li>
                    <li>2. Inspection Checklist (HTM)</li>
                    <li>3. Listing of code for students to review (HTM)</li>
                </ol>
            </div>
        </div>

        <div class="view-module-rest">
            <div class="view-module-rest-item">
                <h2>Prerequisites</h2>
                <ol>
                    <li>Intermediate ability to read and understand C code.</li>
                    <li>General understanding of the purpose of code inspections</li>
                </ol>
            </div>
            <div class="view-module-rest-item">
                <h2>Learning Objectives</h2>
                <ol>
                    <li><strong>Comprehension</strong> - Understanding of formal inspections including general process, roles of participants, problems and benefits</li>
                    <li><strong>Application</strong> - Able to participate as a reviewer in a code inspection</li>
                </ol>
            </div>
        </div>

    </div>


    <script src="https://kit.fontawesome.com/980c80b05d.js" crossorigin="anonymous"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/custom.js"></script>

</body>

</html>